@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Nunito:wght@200&display=swap");

.App {
  background-image: url("./image/Sonny3.png");
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}
