.uploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.buttonArea {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.resultImage,
.spinner {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 400px;
  border-radius: 10px;
}
