@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Nunito:wght@200&display=swap");

.App {
  min-height: 100vh;
  flex-direction: column;
}

.Main {
  background-image: url("./image/Sonny3.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.VerticalLineArea {
  padding-top: 200px;
  padding-left: 100px;
}

#VerticalLine {
  background-color: #fff;
  height: 800px;
  width: 3px;
}

.UploadArea {
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

#FileNameBox {
  background-color: #fff;
  height: 80px;
  width: 660px;
  border: 5px solid #130c38;
}

.ButtonArea {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

#SearchFileButton {
  height: 80px;
  width: 300px;
}

#searchFileButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 80px;
  width: 300px;
}

#ConvertButton {
  height: 80px;
  width: 300px;
  padding-left: 30px;
}

#convertButton {
  background-color: #ff953d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 80px;
  width: 300px;
}
