.main {
  background-image: url("../image/Sonny3.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.verticalLineArea {
  padding-top: 200px;
  padding-left: 100px;
}

#verticalLine {
  background-color: #fff;
  height: 800px;
  width: 3px;
}
