.uploadArea {
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

#fileNameBox {
  background-color: #fff;
  height: 80px;
  width: 660px;
  border: 5px solid #130c38;
}

.buttonArea {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

#searchFileButton__container {
  height: 80px;
  width: 300px;
}

#searchFileButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 80px;
  width: 300px;
}

#convertButton__container {
  height: 80px;
  width: 300px;
  padding-left: 30px;
}

#convertButton {
  background-color: #ff953d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 80px;
  width: 300px;
}
